*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;
    background-color: #1B1C1E;
}

@font-face {
    font-family: "Fancy Cursive";
    src: url("Amsterdam.ttf");
    font-display: swap;
}

.top-bar {
    background-color: #1B1C1E;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.top-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    width: 100%;
    max-width: 1900px;
}

.logo-container {
    margin: 0;
}

.logo-container img {
    margin-top: 40px;
    height: 80px;
}

.links-container {
    margin: 0;
    white-space: nowrap;
}

.links-container a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    margin: 0 5px;
}

.links-container a:hover {
    text-decoration: underline;
    color: pink;
}


.links-container a:last-child {
    margin-right: 0;
}



nav {
    background-color: #1B1C1E;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.nav-container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 10px);
    max-width: 1500px;
}

nav ul {
    
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 ;
    padding: 0 ;
}

nav ul li a {
    
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 10px;
    line-height: 40px;
}

nav ul li a:hover { 
    background-color: pink;
    color: #1B1C1E; 
    transition: 0.3s all ease;
    top: 0;   
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-right ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.logo {
    color: #fff;
    font-size: 46px;
    text-decoration: none;
    font-family: "Fancy Cursive";
}

.nav-left {
    flex: 1;
    text-align: left;
}

.nav-center {
    flex: 3.5;
    text-align: center;
}

.nav-right {
    flex: 2;
    text-align: right;
}

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #C785B5;
    }

    h1{
        text-align: center;
    }

    .back{
        margin-top: 20px;
    }

    a{
        text-align: left;
        margin-left: 40px;
        opacity: .87;
        font-size: 18px;
    }

    a:hover{
        color: #C785B5;
    }