body{
    background-image: url(back.png);
}

.wrapper {
    height: 100vh; /*centering*/
    display: grid;
    place-items: center;
}
  
.typing-demo {
    width: 22ch;
    animation: typing 2.5s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 3em;
    color: #FFF5EE	;
}
  
@keyframes typing {
    from {
      width: 0
    }
}
      
@keyframes blink {
    50% {
      border-color: transparent
    }
}